{% extends "base.html" %}

{% block content %}
<div class="auth-wrapper">

  <div class="auth-card">

    <div class="auth-header">
      <h2 id="authTitle">Login</h2>
      <p id="authSub">Welcome back 👋</p>
    </div>

    <!-- LOGIN FORM -->
    <form id="loginForm" method="POST" action="/login">
      
      <div class="input-group">
        <input name="email" required>
        <label>Email</label>
      </div>

      <div class="input-group">
        <input name="password" type="password" required>
        <label>Password</label>
      </div>

      <button type="submit" class="btn btn-primary">Login</button>

      <p class="switch-text">
        Don't have an account?
        <span onclick="toggleAuth()">Register</span>
      </p>
    </form>

    <!-- REGISTER FORM -->
    <form id="registerForm" method="POST" action="/register" class="hidden">

        <!-- NAME -->
        <div class="input-group">
            <input name="name" required placeholder=" ">
            <label>Name</label>
        </div>

        <!-- EMAIL -->
        <div class="input-group">
            <input name="email" type="email" required placeholder=" ">
            <label>Email</label>
        </div>

        <!-- PASSWORD -->
        <div class="input-group">
            <input name="password" type="password" required placeholder=" ">
            <label>Password</label>
        </div>

        <!-- DOB (DATE PICKER) -->
        <div class="input-group">
            <input name="dob" type="date" required>
            <label class="active-label">Date of Birth</label>
        </div>

        <!-- GENDER DROPDOWN -->
        <div class="input-group">
            <select name="gender" required>
            <option value="" disabled selected>Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
            </select>
        </div>

        <!-- BIO -->
        <div class="input-group">
            <textarea name="bio" placeholder=" "></textarea>
            <label>Bio</label>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>

        <p class="switch-text">
            Already have an account?
            <span onclick="toggleAuth()">Login</span>
        </p>

        </form>

  </div>

</div>

<script>
function toggleAuth() {
  const login = document.getElementById("loginForm");
  const register = document.getElementById("registerForm");
  const title = document.getElementById("authTitle");
  const sub = document.getElementById("authSub");

  login.classList.toggle("hidden");
  register.classList.toggle("hidden");

  if (login.classList.contains("hidden")) {
    title.innerText = "Register";
    sub.innerText = "Create your account 🚀";
  } else {
    title.innerText = "Login";
    sub.innerText = "Welcome back 👋";
  }
}
</script>

{% endblock %}